:root{
    --bg:#f2f2f2;
    --giallo:#E3DC95;
    --black:#1B2021;
    --white:#f2f2f2

}


body{
    background-color: var(--bg);
    font-family: 'Mochiy Pop P One', sans-serif;
    
  
}

.masthead{
    height: 100vh;
    
    background-image: url("/img/masthead.png");
    background-size: cover;
    background-position: center;
}

.section-2{
    min-height: 100vh;
    
    
}

.section-3{
    min-height: 100vh;
    background-color: var(--giallo);
    
    
}

.img-scale{
    width: 12%;
}

.bg-dark{
    background-color: var(--black)!important;
}

.bg-white{
    background-color: var(--white)!important;
}

/* .btn-presto{
    width:100%;
    color: var(--giallo);
    background-color:var(--black);
    border-color:var(--giallo) ;
} */

.btn-presto-category{
    width:100%;
    color: var(--giallo);
    background-color:var(--black);
    border-color:var(--giallo) ;
}

.btn-presto:hover{
    color: var(--bg)
}

.presto-action{
    
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    height: 250px;
    width: 250px;
    
    
    transform: translate(15px, -15px);
    
    /* background-color: #e3dc9529;;
    
    backdrop-filter: blur(5px); */
    
}

.margin-top{
    margin-top: 100px;
}

.presto-link{
    text-decoration: none;
    color:rgba(0, 0, 0, 0.55);
}

.presto-link:hover{
    color:rgba(0, 0, 0, 0.699);
}

.clicca{
    color: #2b2e2e;
    text-decoration: none;
    
    
}

.clicca:hover{
    color: var(--black);
    
}