.category{
    margin: 0;
    padding: 0;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; 
    
}

/* CARD PER CATEGORIE */


.cat-card{
    position: relative;
    width: 200px;
    height: 220px;
    background-color: #fff;
    margin: 0 auto;
    border-radius: 4px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.2);

}

.cat-card:before, .cat-card:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    background-color: #fff;
    z-index: -1;
    transition: 0.75s;
}

.cat-card:hover:after{
    transform: rotate(10deg);
    box-shadow: 0 2px 20px rgba(0,0,0,0.2);
}

.cat-card:hover:before{
    transform: rotate(20deg);
    box-shadow: 0 2px 20px rgba(0,0,0,0.2);
}

.cat-card .imgbox{
    position:absolute;
    top: 10px;
    bottom: 10px;
    left: 10px;
    right: 10px;
    background-color: rgb(221, 84, 84);
    transition: 0.75s;
    z-index: 1;

}

.cat-card:hover .imgbox{
   bottom:80px;

}

.cat-card .imgbox img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.cat-card .deatals{
    position:absolute;
    bottom: 10px;
    left: 10px;
    right: 10px;
    height: 60px;
    text-align: center;
}

.cat-card .deatals a{
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-weight: 100;
    color: #777;
    text-transform: uppercase;
    text-decoration: none;

}

