.category{
    margin: 0;
    padding: 0;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; 
    
}

/* CARD PER CATEGORIE */


.cat-card{
    position: relative;
    width: 280px;
    height: 300px;
    background: linear-gradient(#ffaf00, #bb02ff);
    background-color: #fff;
    margin: 0 auto;
    border-radius: 4px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.2);

}

.cat-card:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    background: linear-gradient(135deg, rgb(255, 212, 120), rgb(215, 106, 255));
    z-index: -1;
    transition: 0.75s;
}

.cat-card:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    background: linear-gradient(45deg, rgb(252, 185, 40), rgb(194, 35, 252));
    z-index: -1;
    transition: 0.75s;
}

.cat-card:hover:after{
    transform: rotate(15deg);
    background: linear-gradient(45deg, rgb(252, 185, 40), rgb(194, 35, 252));
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.4);
}


.cat-card:hover:before{
    transform: rotate(30deg);
    background: linear-gradient(135deg, rgb(255, 212, 120), rgb(215, 106, 255));
    box-shadow: 0 2px 20px rgba(0,0,0,0.6);
}

.cat-card .imgbox{
    position:absolute;
    top: 10px;
    bottom: 10px;
    left: 10px;
    right: 10px;
    background-color: rgb(255, 255, 255);
    transition: 0.75s;
    z-index: 1;

}

.cat-card:hover .imgbox{
   bottom:80px;

}

.cat-card .imgbox img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.cat-card .deatals{
    position:absolute;
    bottom: 10px;
    left: 10px;
    right: 10px;
    height: 50px;
    text-align: center;
}

.cat-card .deatals a{
    margin: 0;
    padding: 0;
    font-size: 15px;
    font-weight: 100;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    text-decoration: none;

}

